<!DOCTYPE html>
<html lang="en">

<head>
  <title>Elenitsa</title>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <style>
    * {
      box-sizing: border-box;
    }

    html {
      height: 100%;
    }

    body {
      background-image: url("/images/WALL_Nikolas_Elenitsa_Efterpi.png");
      background-position: left 30px center;
      background-repeat: no-repeat;
      background-size: 100% 100%;
      /* background-color: #000000; */
      overflow: hidden;
    }
    video,
    .video-center {
      background-color:transparent;
      position: absolute;
      height: 100%;
      width: 100%;
      left: 0;
      right: 0;
      bottom: -40px;
      overflow: hidden;
    }

    /* Container for flexboxes */
    section {
      display: -webkit-flex;
      display: flex;
    }

    #elenitsa_idle_start,
    #elenitsa_idle_crying,
    #elenitsa_idle_end {
      opacity: 0;
      z-index: 1;
    }

    #elenitsa_bubble_1,
    #elenitsa_talking_1 {
      z-index: 2;
      opacity: 0;
    }

    #elenitsa_bubble_2,
    #elenitsa_talking_2 {
      z-index: 3;
      opacity: 0;
    }

    #elenitsa_bubble_3,
    #elenitsa_talking_3 {
      z-index: 4;
      opacity: 0;
    }

    .efterpi-bubble,
    .talking-bubble {
      left: 70px;
      right: 0;
      margin: 0 auto;
      width: 100%;
      position: absolute;
      height: 100%;
      opacity: 0;
    }
    .efterpi-bubble-third{
      bottom: 2px;
    }


    #elenitsa_arrow_1,
    #elenitsa_arrow_nikolas,
    #nikolas_arrow_efterpi {
      opacity: 0;
    }
  </style>
</head>

<body>
  <img style="position: absolute; width: 100%; height: 100%" src="/images/WALL_3_Nikolas_Elenitsa_Efterpi_Text.png" />

  <section>
    <audio controls="controls" id="elenitsaCryingAudio" preload="auto">
      <source src="/videos/Elenitsa/H_mikrh_Eleni.wav" type="audio/wav">
    </audio>
    <div id="mainContainer">
      <div id="sequenceContainer">
        <!-- kjo eshte me pa pozicionin -->
        <!-- <img src="/PngSequenceImg/Elenitsa/Elenitsa_PNG_00503.png" alt="Elenitsa" style="position: absolute; top: 29%; left: 48%;"> -->

        <!-- kjo eshte per sekuencen e imazheve -->
        <img id="sequenceImageElenitsa" src="" alt="Elenitsa" style="position: absolute; top: 19%; left: 48%;"/>
      </div>
    </div>
    <video id="elenitsa_arrow_1" class="video-center" muted loop preload="auto">
      <source id="elenitsa_arrow_1" src="/Elenitsa/Elenitsa_Arrow" type="video/webm" />
    </video>
    
    <video id="elenitsa_arrow_nikolas" class="video-center" muted preload="auto">
      <source id="elenitsa_source_arrow_nikolas" src="/Elenitsa/Elenitsa_Arrow_to_Nikolas" type="video/webm" />
    </video>

    <!--Nikolas Videos-->
    <video id="nikolas_bubble_1" class="video-center talking-bubble" muted preload="auto">
      <source id="nikolas_bubble_source_1" src="/NikolasBubbles/Nikolas_Bubble_1_GR" type="video/webm" />
      <source id="nikolas_bubble_source_1_EN" src="/NikolasBubbles/Nikolas_Bubble_1" type="video/webm" />

    </video>
    <video id="nikolas_bubble_2" class="video-center talking-bubble" muted preload="auto">
      <source id="nikolas_bubble_source_2" src="/NikolasBubbles/Nikolas_Bubble_2_GR" type="video/webm" />
      <source id="nikolas_bubble_source_2_EN" src="/NikolasBubbles/Nikolas_Bubble_2" type="video/webm" />
    </video>
    <video id="nikolas_bubble_3" class="video-center talking-bubble" muted preload="auto">
      <source id="nikolas_bubble_source_3" src="/NikolasBubbles/Nikolas_Bubble_3_GR" type="video/webm" />
      <source id="nikolas_bubble_source_3_EN" src="/NikolasBubbles/Nikolas_Bubble_3" type="video/webm" />

    </video>

    <video id="nikolas_bubble_4" class="video-center talking-bubble" muted preload="auto">
      <source id="nikolas_bubble_source_4" src="/NikolasBubbles/Nikolas_Bubble_4_GR" type="video/webm" />
      <source id="nikolas_bubble_source_4_EN" src="/NikolasBubbles/Nikolas_Bubble_4" type="video/webm" />

    </video>
    <video id="nikolas_bubble_5" class="video-center talking-bubble" muted preload="auto">
      <source id="nikolas_bubble_source_5" src="/NikolasBubbles/Nikolas_Bubble_5_GR" type="video/webm" />
      <source id="nikolas_bubble_source_5_EN" src="/NikolasBubbles/Nikolas_Bubble_5" type="video/webm" />
    </video>
    <video id="nikolas_arrow_efterpi" class="video-center talking-bubble" muted preload="auto">
      <source id="nikolas_arrow_source_efterpi" src="/NikolasBubbles/Nikolas_Arrow_to_Efterpi" type="video/webm" />
    </video>

    <!--Efterpi Videos-->
    
    <div id="mainContainer">
      <div id="sequenceContainer">
        <!-- kjo eshte me pa pozicionin -->
        <!-- <img src="/PngSequenceImg/Efterpi/Efterpi_Bubbles/Efterpi_Bubbles_PNG_00018.png" alt="Giagia" style="position: absolute; top: 0; left: 15%;"> -->

        <!-- kjo eshte per sekuencen e imazheve -->
        <img id="sequenceImageEfterpiBubble" src="" alt="EfterpiBuble" style="position: absolute; top: 0; left: 74%" />
      </div>
    </div>
    
    <!--Efterpi Videos-->
    <video id="efterpi_bubble_1" class="video-center efterpi-bubble efterpi-bubble-third" muted preload="auto">
      <source id="efterpi_bubble_source_1" src="/EfterpiBubbles/Efterpi_Bubble_1_GR" type="video/webm" />
      <source id="efterpi_bubble_source_1_EN" src="/EfterpiBubbles/Efterpi_Bubble_1" type="video/webm" />
    </video>
    <video id="efterpi_bubble_2" class="video-center efterpi-bubble" style="bottom: 0px;" muted preload="auto">
      <source id="efterpi_bubble_source_2" src="/EfterpiBubbles/Efterpi_Bubble_2_GR" type="video/webm" />
      <source id="efterpi_bubble_source_2_EN" src="/EfterpiBubbles/Efterpi_Bubble_2" type="video/webm" />
    </video>
    <video id="efterpi_bubble_3" class="video-center efterpi-bubble efterpi-bubble-third" muted preload="auto">
      <source id="efterpi_bubble_source_3" src="/EfterpiBubbles/Efterpi_Bubble_3_GR" type="video/webm" />
      <source id="efterpi_bubble_source_3_EN" src="/EfterpiBubbles/Efterpi_Bubble_3" type="video/webm" />
    </video>
    
  </section>
  <!-- <button id="startfunction"
    onclick="playGame(1,'eyJ0eXBlIjoiQnVmZmVyIiwiZGF0YSI6WzExOCw1Myw1OCwxMTIsMTA4LDk3LDEyMSwxM119',1)"
    style="position: absolute; z-index: 99999999999;">START HERE----------------------------------</button> -->
  <!-- <button onclick="simulateGameStart()"  style=" position: absolute; left: 0; z-index: 9999999999999999999999999;">Start Game</button> -->
  <button onclick="simulatePlayGame()"
    style="position: absolute;right: 5%; z-index: 99999999999999999999999999999999999999999;">Play Game</button>
</body>

<script src="/socket.io/socket.io.js"></script>

<script>
  // let timeoutID
  let eleniSit = false
  let lang = ""

  // variabla per timerin e ri
  let inactivityTime = 0;
  const inactivityLimit = 50; // 50 seconds
  let timerInterval = null;



  var socket = io();

  function simulatePlayGame() {
    console.log("filloj pjesa e dyte e Elenitsa");
    console.log("------------------------------------------------------------------------------------------------------------"
    );
    let dataElenitsa = 1
    let counter = 0
    let data = 1

    playGame(data, dataElenitsa, counter);
    // document.querySelector("#elenitsa_idle").style.opacity = "0";


    socket.emit("elenitsaStart", 0);
  }

  document.getElementById('elenitsaCryingAudio').controls = false;
  let gameStarted = false

    /* variablat per PNG Seqeunce Elenitsa */
    const sequenceImageElenitsa = document.getElementById('sequenceImageElenitsa');
    const folderPathElenitsa = '/PngSequenceImg/Elenitsa/';
    const frameCountElenista = 1537;
    const frameRateElenista = 30;

    let currentFrameElenitsa = 0;
    let isPlayingElenitsa = true;
    let intervalIdElenitsa = null;

    let statePlayingElenitsa = false;
    let stateStartFrameElenitsa = 0;
    let stateEndFrameElenitsa = 0;

    let idleStartElenitsa = 23;
    let idleEndElenitsa = 82;

    /* variablat per PNG Seqeunce EfterpiBubble */
    const sequenceImageEfterpiBubble = document.getElementById("sequenceImageEfterpiBubble");
    const folderPathEfterpiBubble = "/PngSequenceImg/Efterpi/Efterpi_Bubbles/";
    const frameCount = 877;
    const frameRate = 25;

    let currentFrameEfterpiBubble = 0;
    let intervalIdEfterpiBubble = null;

    let statePlayingEfterpiBubble = false;
    let stateStartFrameEfterpiBubble = 0;
    let stateEndFrameEfterpiBubble = 0;

    let idleStartEfterpiBubble = 0;
    let idleEndEfterpiBubble = 1;

  // document.querySelector("#efterpi_bubble_1").style.opacity = "1";
  // document.querySelector("#efterpi_bubble_1").play();

  socket.on("languageTwoChanged", function (data) { 
    // console.log(data,"language te giagia")
      const language = data;
      if (language) {
        // Update the game language
        if(language == "GR"){
          lang = "_GR"
          document.getElementById("efterpi_bubble_1").src = '/EfterpiBubbles/Efterpi_Bubble_1_GR'
          document.getElementById("efterpi_bubble_2").src = '/EfterpiBubbles/Efterpi_Bubble_2_GR'
          document.getElementById("efterpi_bubble_3").src = '/EfterpiBubbles/Efterpi_Bubble_3_GR'
          document.getElementById("nikolas_bubble_1").src = '/NikolasBubbles/Nikolas_Bubble_1_GR'
          document.getElementById("nikolas_bubble_2").src = '/NikolasBubbles/Nikolas_Bubble_2_GR'
          document.getElementById("nikolas_bubble_3").src = '/NikolasBubbles/Nikolas_Bubble_3_GR'
          document.getElementById("nikolas_bubble_4").src = '/NikolasBubbles/Nikolas_Bubble_4_GR'
          document.getElementById("nikolas_bubble_5").src = '/NikolasBubbles/Nikolas_Bubble_5_GR'
        }else {
          lang = ""
          document.getElementById("efterpi_bubble_1").src = '/EfterpiBubbles/Efterpi_Bubble_1'
          document.getElementById("efterpi_bubble_2").src = '/EfterpiBubbles/Efterpi_Bubble_2'
          document.getElementById("efterpi_bubble_3").src = '/EfterpiBubbles/Efterpi_Bubble_3'
          document.getElementById("nikolas_bubble_1").src = '/NikolasBubbles/Nikolas_Bubble_1'
          document.getElementById("nikolas_bubble_2").src = '/NikolasBubbles/Nikolas_Bubble_2'
          document.getElementById("nikolas_bubble_3").src = '/NikolasBubbles/Nikolas_Bubble_3'
          document.getElementById("nikolas_bubble_4").src = '/NikolasBubbles/Nikolas_Bubble_4'
          document.getElementById("nikolas_bubble_5").src = '/NikolasBubbles/Nikolas_Bubble_5'

        }
        document.getElementById("efterpi_bubble_1").load()
        document.getElementById("efterpi_bubble_2").load()
        document.getElementById("efterpi_bubble_3").load()
        document.getElementById("nikolas_bubble_1").load()
        document.getElementById("nikolas_bubble_2").load()
        document.getElementById("nikolas_bubble_3").load()
        document.getElementById("nikolas_bubble_4").load()
        document.getElementById("nikolas_bubble_5").load()

        console.log(`Language changed to: ${language}`);
      }

    })

  // window.addEventListener('storage', (event) => {
  //   if (event.key === 'languageGameTwo') {
  //     const language = localStorage.getItem('languageGameTwo');
  //     if (language) {
  //       // Update the game language
  //       if(language == "GR"){
  //         lang = "_GR"
  //         document.getElementById("efterpi_bubble_1").src = '/EfterpiBubbles/Efterpi_Bubble_1_GR'
  //         document.getElementById("efterpi_bubble_2").src = '/EfterpiBubbles/Efterpi_Bubble_2_GR'
  //         document.getElementById("efterpi_bubble_3").src = '/EfterpiBubbles/Efterpi_Bubble_3_GR'
  //         document.getElementById("nikolas_bubble_1").src = '/NikolasBubbles/Nikolas_Bubble_1_GR'
  //         document.getElementById("nikolas_bubble_2").src = '/NikolasBubbles/Nikolas_Bubble_2_GR'
  //         document.getElementById("nikolas_bubble_3").src = '/NikolasBubbles/Nikolas_Bubble_3_GR'
  //         document.getElementById("nikolas_bubble_4").src = '/NikolasBubbles/Nikolas_Bubble_4_GR'
  //         document.getElementById("nikolas_bubble_5").src = '/NikolasBubbles/Nikolas_Bubble_5_GR'
  //       }else {
  //         lang = ""
  //         document.getElementById("efterpi_bubble_1").src = '/EfterpiBubbles/Efterpi_Bubble_1'
  //         document.getElementById("efterpi_bubble_2").src = '/EfterpiBubbles/Efterpi_Bubble_2'
  //         document.getElementById("efterpi_bubble_3").src = '/EfterpiBubbles/Efterpi_Bubble_3'
  //         document.getElementById("nikolas_bubble_1").src = '/NikolasBubbles/Nikolas_Bubble_1'
  //         document.getElementById("nikolas_bubble_2").src = '/NikolasBubbles/Nikolas_Bubble_2'
  //         document.getElementById("nikolas_bubble_3").src = '/NikolasBubbles/Nikolas_Bubble_3'
  //         document.getElementById("nikolas_bubble_4").src = '/NikolasBubbles/Nikolas_Bubble_4'
  //         document.getElementById("nikolas_bubble_5").src = '/NikolasBubbles/Nikolas_Bubble_5'

  //       }
  //       document.getElementById("efterpi_bubble_1").load()
  //       document.getElementById("efterpi_bubble_2").load()
  //       document.getElementById("efterpi_bubble_3").load()
  //       document.getElementById("nikolas_bubble_1").load()
  //       document.getElementById("nikolas_bubble_2").load()
  //       document.getElementById("nikolas_bubble_3").load()
  //       document.getElementById("nikolas_bubble_4").load()
  //       document.getElementById("nikolas_bubble_5").load()

  //       console.log(`Language changed to: ${language}`);
  //     }
  //   }
  // })
    window.addEventListener('load', () => {
      lang = "_GR"
      // const language = localStorage.getItem('languageGameTwo');
      // if (language) {
      //   if(language == "GR"){
      //   }else {
      //     lang = ""
      //   }
      // }
    });

  function resetGame() {
    console.log("loja elenit per reset")
    const videoElements = document.querySelectorAll("video");
    videoElements.forEach((video) => {
      video.pause();
      video.currentTime = 0;
    });
    socket.emit("resetGameMonitor", 2)

    const elementsWithOpacity =
      document.querySelectorAll('[style*="opacity"]:not(body)');
    elementsWithOpacity.forEach((element) => {
      element.style.opacity = "0";
    });
    document.querySelector('#elenitsa_arrow_1').style.opacity = "0";

    document.querySelector('#elenitsa_arrow_nikolas').style.opacity = "0";
    document.querySelector('#nikolas_arrow_efterpi').style.opacity = "0";


    // document.querySelector("#elenitsa_idle").play();
    // document.querySelector("#elenitsa_idle").style.opacity = "1";

  }

  socket.on("messagegame2", function (data) {
    socket.emit("gameSartedEfterpi", 1);
    gameStarted = true
    eleniSit = false
    console.log(eleniSit, "eleniSit kur nis loja")
    if (data == 1) {

      console.log("erdhi mesazhi start loja 2: " + data);
      let counter = 0;
      document.querySelector("#elenitsaCryingAudio").load();
      document.querySelector("#elenitsaCryingAudio").play();

      playStateElenitsa(121,181)
 

      socket.on("elenitsaStart", function (dataElenitsa) {
        eleniSit = true

        console.log("dataElenitsa:", dataElenitsa);
        console.log("counter:", counter);
        // clearTimeout(timeoutID);
        if (dataElenitsa == 1) {
          if (counter == 0) {
            console.log("filloj pjesa e dyte e Elenitsa");
            console.log("------------------------------------------------------------------------------------------------------------"
            );
            counter = 1;
            console.log("a hyn ktu vetem mbasi ka mbaruar video?")
            // pauseVideosAndBubbles()

            playGame(data, dataElenitsa, counter);


          }
        } else {
          console.log("Out from if condition");
        }
        socket.emit("elenitsaStart", 0);
      })

    }
    if (eleniSit) {
      resetInactivityTimer()

    }
  });
  function playGame(data, dataElenitsa, counter) {

    console.log("111 kaloj kushtin data: " + data + " dataElenitsa: " + dataElenitsa + " counter: " + counter);
    eleniSit = true
    resetInactivityTimer()

    const elenitsaIdle = document.querySelector("#elenitsa_idle");
    playStateElenitsa(383,1034)

  }

  socket.on("messageNikolasBubble", function (data) {
    console.log("messageNikolasBubble: " + data);
    if (data == 1) {
      console.log("po luhet bubble 1 ");
      document.querySelector("#nikolas_bubble_1").style.opacity = "1";
      document.querySelector("#nikolas_bubble_1").play();

      document
        .querySelector("#nikolas_bubble_1")
        .addEventListener("ended", function (evt) {
          document.querySelector("#nikolas_bubble_1").style.opacity = "0";
        });
    }
    if (data == 2) {
      console.log("po luhet bubble 2 ");
      document.querySelector("#nikolas_bubble_2").style.opacity = "1";
      document.querySelector("#nikolas_bubble_2").play();

      document
        .querySelector("#nikolas_bubble_2")
        .addEventListener("ended", function (evt) {
          document.querySelector("#nikolas_bubble_2").style.opacity = "0";
        });
    }
    if (data == 3) {
      console.log("po luhet bubble 3 ");
      document.querySelector("#nikolas_bubble_3").style.opacity = "1";
      document.querySelector("#nikolas_bubble_3").play();

      document
        .querySelector("#nikolas_bubble_3")
        .addEventListener("ended", function (evt) {
          document.querySelector("#nikolas_bubble_3").style.opacity = "0";
        });
    }
    if (data == 4) {
      console.log("po luhet bubble 4 ");
      document.querySelector("#nikolas_bubble_4").style.opacity = "1";
      document.querySelector("#nikolas_bubble_4").play();

      document
        .querySelector("#nikolas_bubble_4")
        .addEventListener("ended", function (evt) {
          document.querySelector("#nikolas_bubble_4").style.opacity = "0";
        });
    }
    if (data == 5) {
      console.log("po luhet bubble 5 ");
      document.querySelector("#nikolas_bubble_5").style.opacity = "1";
      document.querySelector("#nikolas_bubble_5").play();
      document.querySelector("#nikolas_arrow_efterpi").style.opacity = "1";
      document.querySelector("#nikolas_arrow_efterpi").play();


      document
        .querySelector("#nikolas_bubble_5")
        .addEventListener("ended", function (evt) {
          document.querySelector("#nikolas_bubble_5").style.opacity = "0";
          document.querySelector("#nikolas_arrow_efterpi").style.opacity = "0";

        });
    }
    if (data == 0) {
      console.log("po luhet bubble 2 ");
      document.querySelector(".talking-bubble").style.opacity = "0";
    }
  });

  // socket.on("messageEfterpiBubble", function (data) {
  //   resetInactivityTimer()
  //   console.log("messageEfterpiBubble: " + data);
  //   if (data == 1) {
  //     playStateEfterpiBubble(0,350)
  //   }
  //   if (data == 2) {
  //     console.log("po luhet bubble 2 ");
  //     playStateEfterpiBubble(351, 602)
  //   }
  //   if (data == 3) {
  //     playStateEfterpiBubble(603,877)
  //   }
  // });
  socket.on("messageEfterpiBubble", function (data) {
    // resetInactivityTimer()
    console.log("messageEfterpiBubble: " + data);
    if (data == 1) {
      document.querySelector("#efterpi_bubble_1").style.opacity = "1";
      document.querySelector("#efterpi_bubble_1").play();

      document
        .querySelector("#efterpi_bubble_1")
        .addEventListener("ended", function (evt) {
          document.querySelector("#efterpi_bubble_1").style.opacity = "0";
        });
    }
    if (data == 2) {
      console.log("po luhet bubble 2 ");
      document.querySelector("#efterpi_bubble_2").style.opacity = "1";
      document.querySelector("#efterpi_bubble_2").play();

      document
        .querySelector("#efterpi_bubble_2")
        .addEventListener("ended", function (evt) {
          document.querySelector("#efterpi_bubble_2").style.opacity = "0";
        });
    }
    if (data == 3) {
      console.log("po luhet bubble 3 ");
      document.querySelector("#efterpi_bubble_3").style.opacity = "1";
      document.querySelector("#efterpi_bubble_3").play();

      document
        .querySelector("#efterpi_bubble_3")
        .addEventListener("ended", function (evt) {
          document.querySelector("#efterpi_bubble_3").style.opacity = "0";
        });
    }
  });


  socket.on("resetGameEleni", function (data) {
    if (data == 1) {
      console.log("u b reset")
      const videoElements = document.querySelectorAll("video");
      videoElements.forEach((video) => {
        video.pause();
        video.currentTime = 0;
      });
      socket.emit("resetGameMonitor", 2)

      const elementsWithOpacity =
        document.querySelectorAll('[style*="opacity"]');
      elementsWithOpacity.forEach((element) => {
        element.style.opacity = "0";
      });

      // document.querySelector("#elenitsa_idle").style.opacity = "1";
      // document.querySelector("#elenitsa_idle").play();

    }
  })
  // Start the initial check after receiving the 'messagegame1' event

  // funksionet sekuenciale Elenitsa
  function updateFrameElenitsa(frame) {
    const paddedFrame = String(frame).padStart(5, '0');
    
    if(paddedFrame.toString() == "00181"){
      playStateElenitsa(83,120)
    }
    if(paddedFrame.toString() == "00120"){
      document.querySelector("#elenitsa_arrow_1").style.opacity = "1";
      document.querySelector("#elenitsa_arrow_1").play();
      playStateElenitsa(182,382)
    }
    if(paddedFrame.toString() == "00381"){
      var socket = io();
      socket.emit('startElenitsa', 1)
      startInactivityTimer();
    }
    if(paddedFrame.toString() == "00383"){
      document.querySelector("#elenitsa_arrow_1").style.opacity = "0";
    }

    if(paddedFrame.toString() == "00782"){
      document.querySelector("#elenitsa_arrow_nikolas").style.opacity = "1";
        document.querySelector("#elenitsa_arrow_nikolas").play();
    }
    if(paddedFrame.toString() == "01033"){
      document.querySelector("#elenitsa_arrow_nikolas").style.opacity = "0";
      var socket = io();
      socket.emit("messageNikolasStep", 1);
    }


    // if(paddedFrame.toString() == "00600"){
    //   console.log("Me lujt LOJEN")
    //   handleVideoPlay(document.querySelector('#pagopolis_arrow'))
    //   var socket = io();
    //   socket.emit('playIceGame', 1);
    //   socket.emit('playMinigamePagopoli', 1);
    // }
    sequenceImageElenitsa.src = `${folderPathElenitsa}Elenitsa_PNG${lang}_${paddedFrame}.png`;
  }

  function nextFrameElenitsa() {
    if (statePlayingElenitsa) {
      if (currentFrameElenitsa < stateEndFrameElenitsa) {
        currentFrameElenitsa++;
      } else {
        statePlayingElenitsa = false;
        currentFrameElenitsa = idleStartElenitsa;
      }
    } else {
      currentFrameElenitsa = currentFrameElenitsa % frameCountElenista + 1;
      if (currentFrameElenitsa >= idleEndElenitsa) {
        currentFrameElenitsa = idleStartElenitsa;
      }
    }
    updateFrameElenitsa(currentFrameElenitsa);
  }
  function playElenitsa() {
    if (!intervalIdElenitsa) {
      intervalIdElenitsa = setInterval(nextFrameElenitsa, 1000 / frameRateElenista);
    }
  }
  function playStateElenitsa(startFrame, endFrame) {
    statePlayingElenitsa = true;
    stateStartFrameElenitsa = startFrame;
    stateEndFrameElenitsa = endFrame;
    currentFrameElenitsa = stateStartFrameElenitsa;
    updateFrameElenitsa(currentFrameElenitsa);
      playElenitsa();
    }

  updateFrameElenitsa(currentFrameElenitsa);
  playElenitsa();

  // efterpi bubbles
  function updateFrameEfterpiBubble(frame) {
    const paddedFrame = String(frame).padStart(5, "0");
    // if (paddedFrame.toString() == "00587") {
    //   console.log("frejm 587");
    //   var socket = io();
    //   socket.emit("EfterpiBubbleEnded", 1);
    // }
    sequenceImageEfterpiBubble.src = `${folderPathEfterpiBubble}Efterpi_Bubbles_PNG${lang}_${paddedFrame}.png`;
  }
  function nextFrameEfterpiBubble() {
    if (statePlayingEfterpiBubble) {
      if (currentFrameEfterpiBubble < stateEndFrameEfterpiBubble) {
        currentFrameEfterpiBubble++;
      } else {
        statePlayingEfterpiBubble = false;
        currentFrameEfterpiBubble = idleStartEfterpiBubble;
      }
    } 
      // else {
      //   currentFrameEfterpiBubble = (currentFrameEfterpiBubble % frameCount) + 1;
      //   if (currentFrameEfterpiBubble >= idleEndEfterpiBubble) {
      //     currentFrameEfterpiBubble = idleStartEfterpiBubble;
      //   }
      // }
      updateFrameEfterpiBubble(currentFrameEfterpiBubble);
  }
  function playEfterpiBubble() {
    if (!intervalIdEfterpiBubble) {
      intervalIdEfterpiBubble = setInterval(nextFrameEfterpiBubble, 1000 / frameRate);
    }
  }
  function playStateEfterpiBubble(startFrame, endFrame) {
    statePlayingEfterpiBubble = true;
    stateStartFrameEfterpiBubble = startFrame;
    stateEndFrameEfterpiBubble = endFrame;
    currentFrameEfterpiBubble = stateStartFrameEfterpiBubble;
    updateFrameEfterpiBubble(currentFrameEfterpiBubble);
    playEfterpiBubble();
  }

  // funksionet e timerit
  // Function to start the inactivity timer
  function startInactivityTimer() {
    if (timerInterval === null) {
      inactivityTime = 0; // Reset the timer
      timerInterval = setInterval(() => {
        inactivityTime++;
        if (inactivityTime >= inactivityLimit) {
          console.log("50 seconds of inactivity detected");
          // Perform any actions needed for inactivity here
          stopInactivityTimer();
          resetGame()
        }
      }, 1000);
    }
  }
  // Function to stop the inactivity timer
  function stopInactivityTimer() {
    console.log("[elenista.html] stopInactivityTimer ")
    if (timerInterval !== null) {
      clearInterval(timerInterval);
      timerInterval = null;
      inactivityTime = 0; // Reset the timer
    }
  }
  // Function to reset the inactivity timer
  function resetInactivityTimer() {
    console.log("[elenista.html] resetInactivityTimer")
    stopInactivityTimer(); // Stop the timer
    inactivityTime = 0; // Reset the timer
  }


  updateFrameEfterpiBubble(currentFrameEfterpiBubble);
  playEfterpiBubble();
</script>

</html>