<!DOCTYPE html>
<html lang="en">

<head>
  <title>Elenitsa</title>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <style>
    * {
      box-sizing: border-box;
    }

    html {
      height: 100%;
    }

    body {
      background-image: url("/images/WALL_Nikolas_Elenitsa_Efterpi.png");
      background-position: left 30px center;
      background-repeat: no-repeat;
      background-size: 100% 100%;
      /* background-color: #000000; */
      overflow: hidden;
    }
    video,
    .video-center {
      background-color:transparent;
      position: absolute;
      height: 100%;
      width: 100%;
      left: 0;
      right: 0;
      bottom: 0;
      overflow: hidden;
    }

    /* Container for flexboxes */
    section {
      display: -webkit-flex;
      display: flex;
    }

    #elenitsa_idle_start,
    #elenitsa_idle_crying,
    #elenitsa_idle_end {
      opacity: 0;
      z-index: 1;
    }

    #elenitsa_bubble_1,
    #elenitsa_talking_1 {
      z-index: 2;
      opacity: 0;
    }

    #elenitsa_bubble_2,
    #elenitsa_talking_2 {
      z-index: 3;
      opacity: 0;
    }

    #elenitsa_bubble_3,
    #elenitsa_talking_3 {
      z-index: 4;
      opacity: 0;
    }

    .efterpi-bubble,
    .talking-bubble {
      left: 70px;
      right: 0;
      margin: 0 auto;
      width: 100%;
      position: absolute;
      height: 100%;
      opacity: 0;
    }

    #elenitsa_arrow_1,
    #elenitsa_arrow_nikolas,
    #nikolas_arrow_efterpi {
      opacity: 0;
    }
  </style>
</head>

<body>
  <img style="position: absolute; width: 100%; height: 100%" src="/images/WALL_3_Nikolas_Elenitsa_Efterpi_Text.png" />

  <section>
    <audio controls="controls" id="elenitsaCryingAudio" preload="auto">
      <source src="/videos/Elenitsa/H_mikrh_Eleni.wav" type="audio/wav">
    </audio>
    <div id="mainContainer">
      <div id="sequenceContainer">
        <!-- kjo eshte me pa pozicionin -->
        <!-- <img src="/PngSequenceImg/Elenitsa/Elenitsa_PNG_00503.png" alt="Elenitsa" style="position: absolute; top: 29%; left: 48%;"> -->

        <!-- kjo eshte per sekuencen e imazheve -->
        <img id="sequenceImageElenitsa" src="" alt="Elenitsa" style="position: absolute; top: 19%; left: 48%;"/>
      </div>
    </div>
    <!-- <video id="elenitsa_idle" class="video-center" autoplay loop muted preload="auto">
      <source id="elenitsa_idle_source" src="/Elenitsa/Elenitsa_Idle" type="video/webm" />
    </video> -->

    <!-- <video id="elenitsa_idle_start" class="video-center" muted preload="auto">
      <source id="elenitsa_idle_start_source" src="/Elenitsa/Elenitsa_Idle_Start" type="video/webm" />
    </video>
    <video id="elenitsa_idle_crying" class="video-center" muted preload="auto">
      <source id="elenitsa_idle_crying_source" src="/Elenitsa/Elenitsa_Idle_Crying" type="video/webm" />
    </video>
    <video id="elenitsa_idle_end" class="video-center" muted preload="auto">
      <source id="elenitsa_idle_end_source" src="/Elenitsa/Elenitsa_Idle_End" type="video/webm" />
    </video>

    <video id="elenitsa_talking_1" class="video-center" muted preload="auto">
      <source id="elenitsa_source_talking_1" src="/Elenitsa/Elenitsa_Talking_1" type="video/webm" />
    </video>
    <video id="elenitsa_talking_2" class="video-center" muted preload="auto">
      <source id="elenitsa_source_talking_2" src="/Elenitsa/Elenitsa_Talking_2" type="video/webm" />
    </video>
    <video id="elenitsa_talking_3" class="video-center" muted preload="auto">
      <source id="elenitsa_source_talking_3" src="/Elenitsa/Elenitsa_Talking_3" type="video/webm" />
    </video> -->
    <video id="elenitsa_arrow_1" class="video-center" muted loop preload="auto">
      <source id="elenitsa_arrow_1" src="/Elenitsa/Elenitsa_Arrow" type="video/webm" />
    </video>
    
    <video id="elenitsa_arrow_nikolas" class="video-center" muted preload="auto">
      <source id="elenitsa_source_arrow_nikolas" src="/Elenitsa/Elenitsa_Arrow_to_Nikolas" type="video/webm" />
    </video>
    <!-- <video id="elenitsa_bubble_1" class="video-center" muted preload="auto">
      <source id="elenitsa_bubble_source_1" src="/ElenitsaBubbles/Elenitsa_Bubble_1_gr" type="video/webm" />
    </video>
    <video id="elenitsa_bubble_2" class="video-center" muted preload="auto">
      <source id="elenitsa_bubble_source_2" src="/ElenitsaBubbles/Elenitsa_Bubble_2_gr" type="video/webm" />
    </video>
    <video id="elenitsa_bubble_3" class="video-center" muted preload="auto">
      <source id="elenitsa_bubble_source_3" src="/ElenitsaBubbles/Elenitsa_Bubble_3_gr" type="video/webm" />
    </video> -->

    <!--Nikolas Videos-->
    <video id="nikolas_bubble_1" class="video-center talking-bubble" muted preload="auto">
      <source id="nikolas_bubble_source_1" src="/NikolasBubbles/Nikolas_Bubble_1_gr" type="video/webm" />
    </video>
    <video id="nikolas_bubble_2" class="video-center talking-bubble" muted preload="auto">
      <source id="nikolas_bubble_source_2" src="/NikolasBubbles/Nikolas_Bubble_2_gr" type="video/webm" />
    </video>
    <video id="nikolas_bubble_3" class="video-center talking-bubble" muted preload="auto">
      <source id="nikolas_bubble_source_3" src="/NikolasBubbles/Nikolas_Bubble_3_gr" type="video/webm" />
    </video>

    <video id="nikolas_bubble_4" class="video-center talking-bubble" muted preload="auto">
      <source id="nikolas_bubble_source_4" src="/NikolasBubbles/Nikolas_Bubble_4_gr" type="video/webm" />
    </video>
    <video id="nikolas_bubble_5" class="video-center talking-bubble" muted preload="auto">
      <source id="nikolas_bubble_source_5" src="/NikolasBubbles/Nikolas_Bubble_5_gr" type="video/webm" />
    </video>
    <video id="nikolas_arrow_efterpi" class="video-center talking-bubble" muted preload="auto">
      <source id="nikolas_arrow_source_efterpi" src="/NikolasBubbles/Nikolas_Arrow_to_Efterpi" type="video/webm" />
    </video>

    <!--Efterpi Videos-->
    <video id="efterpi_bubble_1" class="video-center efterpi-bubble" muted preload="auto">
      <source id="efterpi_bubble_source_1" src="/EfterpiBubbles/Efterpi_Bubble_1_gr" type="video/webm" />
    </video>
    <video id="efterpi_bubble_2" class="video-center efterpi-bubble" muted preload="auto">
      <source id="efterpi_bubble_source_2" src="/EfterpiBubbles/Efterpi_Bubble_2_gr" type="video/webm" />
    </video>
    <video id="efterpi_bubble_3" class="video-center efterpi-bubble" muted preload="auto">
      <source id="efterpi_bubble_source_3" src="/EfterpiBubbles/Efterpi_Bubble_3_gr" type="video/webm" />
    </video>
  </section>
  <!-- <button id="startfunction"
    onclick="playGame(1,'eyJ0eXBlIjoiQnVmZmVyIiwiZGF0YSI6WzExOCw1Myw1OCwxMTIsMTA4LDk3LDEyMSwxM119',1)"
    style="position: absolute; z-index: 99999999999;">START HERE----------------------------------</button> -->
  <!-- <button onclick="simulateGameStart()"  style=" position: absolute; left: 0; z-index: 9999999999999999999999999;">Start Game</button> -->
  <!-- <button onclick="simulatePlayGame()"
    style="position: absolute;right: 5%; z-index: 99999999999999999999999999999999999999999;">Play Game</button> -->
</body>

<script src="/socket.io/socket.io.js"></script>

<script>
  let timeoutID
  let eleniSit = false

  var socket = io();

  // function simulatePlayGame() {
  //   console.log("filloj pjesa e dyte e Elenitsa");
  //   console.log("------------------------------------------------------------------------------------------------------------"
  //   );
  //   let dataElenitsa = 1
  //   let counter = 0
  //   let data = 1

  //   console.log(timeoutID, "2")
  //   playGame(data, dataElenitsa, counter);
  //   // document.querySelector("#elenitsa_idle").style.opacity = "0";


  //   socket.emit("elenitsaStart", 0);
  // }
  document.getElementById('elenitsaCryingAudio').controls = false;
  let gameStarted = false

    /* variablat per PNG Seqeunce Elenitsa */
    const sequenceImageElenitsa = document.getElementById('sequenceImageElenitsa');
    const folderPathElenitsa = '/PngSequenceImg/Elenitsa/';
    const frameCount = 1537;
    const frameRate = 30;

    let currentFrameElenitsa = 0;
    let isPlayingElenitsa = true;
    let intervalIdElenitsa = null;

    let statePlayingElenitsa = false;
    let stateStartFrameElenitsa = 0;
    let stateEndFrameElenitsa = 0;

    let idleStartElenitsa = 23;
    let idleEndElenitsa = 82;


  function resetGame() {
    const videoElements = document.querySelectorAll("video");
    videoElements.forEach((video) => {
      video.pause();
      video.currentTime = 0;
    });
    socket.emit("resetGameMonitor", 1)

    const elementsWithOpacity =
      document.querySelectorAll('[style*="opacity"]:not(body)');
    elementsWithOpacity.forEach((element) => {
      element.style.opacity = "0";
    });
    document.querySelector('#elenitsa_arrow_1').style.opacity = "0";

    document.querySelector('#elenitsa_arrow_nikolas').style.opacity = "0";
    document.querySelector('#nikolas_arrow_efterpi').style.opacity = "0";


    // document.querySelector("#elenitsa_idle").play();
    // document.querySelector("#elenitsa_idle").style.opacity = "1";

  }

  function startResetLoop() {
    function loop() {
      if (!eleniSit) {
        console.log("Reset loop started");
        resetGame();
        timeoutID = setTimeout(loop, 50000); // 50000 milliseconds = 50 seconds
      } else {
        console.log("Clearing the timer as eleniSit is true");
        clearTimeout(timeoutID); // Clear the timer when eleniSit becomes true
      }
    }
    timeoutID = setTimeout(loop, 50000); // Start the initial timeout
  }

  function stopResetLoop() {
    console.log("RESET TIMERI tic tactoe html")
    clearTimeout(timeoutID);
  }
  socket.on("messagegame2", function (data) {
    socket.emit("gameSartedEfterpi", 1);
    gameStarted = true
    eleniSit = false
    console.log(eleniSit, "eleniSit kur nis loja")
    if (data == 1) {

      console.log("erdhi mesazhi start loja 2: " + data);
      let counter = 0;
      document.querySelector("#elenitsaCryingAudio").load();
      document.querySelector("#elenitsaCryingAudio").play();


      // document.querySelector("#elenitsa_idle_start").load();
      // document.querySelector("#elenitsa_idle_crying").load();

      // Play video
      // document.querySelector("#elenitsa_idle").style.opacity = "0";

      // document.querySelector("#elenitsa_idle_crying").play();
      // document.querySelector("#elenitsa_idle_crying").style.opacity = "1";
      playStateElenitsa(121,181)
      // document
        // .querySelector("#elenitsa_idle_crying")
        // .addEventListener("ended", function (evt) {
          // console.log("filloj qaj E");
          // document.querySelector("#elenitsa_idle_crying").style.opacity = "0";
          // document.querySelector("#elenitsa_idle_start").play();
          // document.querySelector("#elenitsa_idle_start").style.opacity = "1";
          // document.querySelector("#elenitsa_talking_1").load();
          // document.querySelector("#elenitsa_arrow_1").load();
          // document.querySelector("#elenitsa_bubble_1").load();


        // });

      // document.querySelector("#elenitsa_idle_start").addEventListener("ended", function (evt) {
          // document.querySelector("#elenitsa_idle_start").style.opacity = "0";

          // document.querySelector("#elenitsa_talking_1").style.opacity = "1";
          // document.querySelector("#elenitsa_talking_1").play();

          // document.querySelector("#elenitsa_arrow_1").style.opacity = "1";
          // document.querySelector("#elenitsa_arrow_1").play();

          // document.querySelector("#elenitsa_bubble_1").style.opacity = "1";
          // document.querySelector("#elenitsa_bubble_1").play();
        // });
      // let eleniTalking1 = 0
      // document
        // .querySelector("#elenitsa_talking_1")
        // .addEventListener("ended", function (evt) {
          // document.querySelector("#elenitsa_talking_1").style.opacity = "0";
          // document.querySelector("#elenitsa_bubble_1").style.opacity = "0";

          // document.querySelector("#elenitsa_idle").style.opacity = "1";
          // console.log("u mbyll pjesa e pare e Elenitsa");
          // socket.emit('startElenitsa', 1)
          // startResetLoop();
        // });

      socket.on("elenitsaStart", function (dataElenitsa) {
        eleniSit = true
        console.log(timeoutID, "2")

        console.log("dataElenitsa:", dataElenitsa);
        console.log("counter:", counter);
        // clearTimeout(timeoutID);
        if (dataElenitsa == 1) {
          if (counter == 0) {
            console.log("filloj pjesa e dyte e Elenitsa");
            console.log("------------------------------------------------------------------------------------------------------------"
            );
            counter = 1;
            console.log("a hyn ktu vetem mbasi ka mbaruar video?")
            // pauseVideosAndBubbles()

            playGame(data, dataElenitsa, counter);


          }
        } else {
          console.log("Out from if condition");
        }
        socket.emit("elenitsaStart", 0);
      })

    }
    if (eleniSit) {
      stopResetLoop()

    }
  });
  // function pauseVideosAndBubbles() {
  //   document.querySelector("#elenitsa_talking_1").pause();
  //   document.querySelector("#elenitsa_bubble_1").pause();
  //   document.querySelector("#elenitsa_arrow_1").pause();

  //   document.querySelector("#elenitsa_arrow_1").style.opacity = "0";
  //   document.querySelector("#elenitsa_talking_1").style.opacity = "0";
  //   document.querySelector("#elenitsa_bubble_1").style.opacity = "0";
  //   document.querySelector("#elenitsa_idle").style.opacity = "0";


  // }

  function playGame(data, dataElenitsa, counter) {

    console.log("111 kaloj kushtin data: " + data + " dataElenitsa: " + dataElenitsa + " counter: " + counter);
    eleniSit = true
    stopResetLoop()

    const elenitsaIdle = document.querySelector("#elenitsa_idle");
    // if (elenitsaIdle.style.opacity === "1") {
    //   elenitsaIdle.style.opacity = "0";
    // } else {
    //   console.log("elenitsa_idle opacity is already 0");
    // }

    // document.querySelector("#elenitsa_talking_2").style.opacity = "1";
    // document.querySelector("#elenitsa_talking_2").play();
    playStateElenitsa(383,1034)

    // document.querySelector("#elenitsa_bubble_2").style.opacity = "1";
    // document.querySelector("#elenitsa_bubble_2").play();

    // document
    //   .querySelector("#elenitsa_talking_2")
    //   .addEventListener("ended", function (evt) {
        // document.querySelector("#elenitsa_talking_2").style.opacity = "0";
        // document.querySelector("#elenitsa_bubble_2").style.opacity = "0";
        // document.querySelector("#elenitsa_talking_3").style.opacity = "1";

        // document.querySelector("#elenitsa_talking_3").play();

        // document.querySelector("#elenitsa_arrow_nikolas").style.opacity = "1";
        // document.querySelector("#elenitsa_arrow_nikolas").play();

        // document.querySelector("#elenitsa_bubble_3").style.opacity = "1";
        // document.querySelector("#elenitsa_bubble_3").play();
      // });

    // document
      // .querySelector("#elenitsa_talking_3")
      // .addEventListener("ended", function (evt) {
        // document.querySelector("#elenitsa_talking_3").style.opacity = "0";
        // document.querySelector("#elenitsa_arrow_nikolas").style.opacity = "0";

        // document.querySelector("#elenitsa_bubble_3").style.opacity = "0";

        // document.querySelector("#elenitsa_idle_end").style.opacity = "1";
        // document.querySelector("#elenitsa_idle_end").play();
      // });

    // document
    //   .querySelector("#elenitsa_idle_end")
    //   .addEventListener("ended", function (evt) {
    //     document.querySelector("#elenitsa_idle_end").style.opacity = "0";
    //     document.querySelector("#elenitsa_idle").style.opacity = "1";

    //     console.log("u mbyll totalisht");
    //     var socket = io();
    //     socket.emit("messageNikolasStep", 1);

        // socket.emit("messagegame2", 0);
      // });
  }

  socket.on("messageNikolasBubble", function (data) {
    console.log("messageNikolasBubble: " + data);
    if (data == 1) {
      console.log("po luhet bubble 1 ");
      document.querySelector("#nikolas_bubble_1").style.opacity = "1";
      document.querySelector("#nikolas_bubble_1").play();

      document
        .querySelector("#nikolas_bubble_1")
        .addEventListener("ended", function (evt) {
          document.querySelector("#nikolas_bubble_1").style.opacity = "0";
        });
    }
    if (data == 2) {
      console.log("po luhet bubble 2 ");
      document.querySelector("#nikolas_bubble_2").style.opacity = "1";
      document.querySelector("#nikolas_bubble_2").play();

      document
        .querySelector("#nikolas_bubble_2")
        .addEventListener("ended", function (evt) {
          document.querySelector("#nikolas_bubble_2").style.opacity = "0";
        });
    }
    if (data == 3) {
      console.log("po luhet bubble 3 ");
      document.querySelector("#nikolas_bubble_3").style.opacity = "1";
      document.querySelector("#nikolas_bubble_3").play();

      document
        .querySelector("#nikolas_bubble_3")
        .addEventListener("ended", function (evt) {
          document.querySelector("#nikolas_bubble_3").style.opacity = "0";
        });
    }
    if (data == 4) {
      console.log("po luhet bubble 4 ");
      document.querySelector("#nikolas_bubble_4").style.opacity = "1";
      document.querySelector("#nikolas_bubble_4").play();

      document
        .querySelector("#nikolas_bubble_4")
        .addEventListener("ended", function (evt) {
          document.querySelector("#nikolas_bubble_4").style.opacity = "0";
        });
    }
    if (data == 5) {
      console.log("po luhet bubble 5 ");
      document.querySelector("#nikolas_bubble_5").style.opacity = "1";
      document.querySelector("#nikolas_bubble_5").play();
      document.querySelector("#nikolas_arrow_efterpi").style.opacity = "1";
      document.querySelector("#nikolas_arrow_efterpi").play();


      document
        .querySelector("#nikolas_bubble_5")
        .addEventListener("ended", function (evt) {
          document.querySelector("#nikolas_bubble_5").style.opacity = "0";
          document.querySelector("#nikolas_arrow_efterpi").style.opacity = "0";

        });
    }
    if (data == 0) {
      console.log("po luhet bubble 2 ");
      document.querySelector(".talking-bubble").style.opacity = "0";
    }
  });

  socket.on("messageEfterpiBubble", function (data) {
    stopResetLoop()
    console.log("messageEfterpiBubble: " + data);
    if (data == 1) {
      document.querySelector("#efterpi_bubble_1").style.opacity = "1";
      document.querySelector("#efterpi_bubble_1").play();

      document
        .querySelector("#efterpi_bubble_1")
        .addEventListener("ended", function (evt) {
          document.querySelector("#efterpi_bubble_1").style.opacity = "0";
        });
    }
    if (data == 2) {
      console.log("po luhet bubble 2 ");
      document.querySelector("#efterpi_bubble_2").style.opacity = "1";
      document.querySelector("#efterpi_bubble_2").play();

      document
        .querySelector("#efterpi_bubble_2")
        .addEventListener("ended", function (evt) {
          document.querySelector("#efterpi_bubble_2").style.opacity = "0";
        });
    }
    if (data == 3) {
      console.log("po luhet bubble 3 ");
      document.querySelector("#efterpi_bubble_3").style.opacity = "1";
      document.querySelector("#efterpi_bubble_3").play();

      document
        .querySelector("#efterpi_bubble_3")
        .addEventListener("ended", function (evt) {
          document.querySelector("#efterpi_bubble_3").style.opacity = "0";
        });
    }
  });

  socket.on("resetGameEleni", function (data) {
    if (data == 1) {
      console.log("u b reset")
      const videoElements = document.querySelectorAll("video");
      videoElements.forEach((video) => {
        video.pause();
        video.currentTime = 0;
      });
      socket.emit("resetGameMonitor", 1)

      const elementsWithOpacity =
        document.querySelectorAll('[style*="opacity"]');
      elementsWithOpacity.forEach((element) => {
        element.style.opacity = "0";
      });

      // document.querySelector("#elenitsa_idle").style.opacity = "1";
      // document.querySelector("#elenitsa_idle").play();

    }
  })
  // Start the initial check after receiving the 'messagegame1' event

  // funksionet sekuenciale Elenitsa
  function updateFrameElenitsa(frame) {
    const paddedFrame = String(frame).padStart(5, '0');
    
    if(paddedFrame.toString() == "00181"){
      playStateElenitsa(83,120)
    }
    if(paddedFrame.toString() == "00120"){
      document.querySelector("#elenitsa_arrow_1").style.opacity = "1";
      document.querySelector("#elenitsa_arrow_1").play();
      playStateElenitsa(182,382)
    }
    if(paddedFrame.toString() == "00381"){
      var socket = io();
      socket.emit('startElenitsa', 1)
      startResetLoop();
    }
    if(paddedFrame.toString() == "00383"){
      document.querySelector("#elenitsa_arrow_1").style.opacity = "0";
    }

    if(paddedFrame.toString() == "00782"){
      document.querySelector("#elenitsa_arrow_nikolas").style.opacity = "1";
        document.querySelector("#elenitsa_arrow_nikolas").play();
    }
    if(paddedFrame.toString() == "01033"){
      document.querySelector("#elenitsa_arrow_nikolas").style.opacity = "0";
      var socket = io();
      socket.emit("messageNikolasStep", 1);
    }


    // if(paddedFrame.toString() == "00600"){
    //   console.log("Me lujt LOJEN")
    //   handleVideoPlay(document.querySelector('#pagopolis_arrow'))
    //   var socket = io();
    //   socket.emit('playIceGame', 1);
    //   socket.emit('playMinigamePagopoli', 1);
    // }
    sequenceImageElenitsa.src = `${folderPathElenitsa}Elenitsa_PNG_GR_${paddedFrame}.png`;
  }

  function nextFrameElenitsa() {
    if (statePlayingElenitsa) {
      if (currentFrameElenitsa < stateEndFrameElenitsa) {
        currentFrameElenitsa++;
      } else {
        statePlayingElenitsa = false;
        currentFrameElenitsa = idleStartElenitsa;
      }
    } else {
      currentFrameElenitsa = currentFrameElenitsa % frameCount + 1;
      if (currentFrameElenitsa >= idleEndElenitsa) {
        currentFrameElenitsa = idleStartElenitsa;
      }
    }
    updateFrameElenitsa(currentFrameElenitsa);
  }
    function playElenitsa() {
      if (!intervalIdElenitsa) {
        intervalIdElenitsa = setInterval(nextFrameElenitsa, 1000 / frameRate);
      }
    }
    function playStateElenitsa(startFrame, endFrame) {
      statePlayingElenitsa = true;
      stateStartFrameElenitsa = startFrame;
      stateEndFrameElenitsa = endFrame;
      currentFrameElenitsa = stateStartFrameElenitsa;
      updateFrameElenitsa(currentFrameElenitsa);
        playElenitsa();
      }

      updateFrameElenitsa(currentFrameElenitsa);
      playElenitsa();

</script>

</html>