<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Giagia</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <style>
      * {
        box-sizing: border-box;
      }

      html {
        height: 100%;
      }

      .giagiaBubble {
        margin-left: 80px !important;
      }

      body {
        background-image: url("/images/WALL_Giagia.png");
        background-position: left 7px center;

        background-repeat: no-repeat;
        background-size: 100% 100%;
        /* background-color: #000000; */
        overflow: hidden;
      }

      video,
      .video-center {
        position: absolute;
        height: 100%;
        width: 100%;
        left: -65px;
        right: 0;
        bottom: 0;
        overflow: hidden;
        background-color: transparent;
      }

      /* Container for flexboxes */
      section {
        display: -webkit-flex;
        display: flex;
      }

      #giagia_idle,
      #giagia_enter {
        opacity: 1;
      }

      #giagia_bubble_1,
      #giagia_talking_1 {
        z-index: 2;
        opacity: 0;
      }

      #giagia_bubble_2,
      #giagia_talking_2 {
        z-index: 3;
        opacity: 0;
      }

      #giagia_bubble_3,
      #giagia_talking_3 {
        z-index: 4;
        opacity: 0;
      }

      #giagia_bubble_4,
      #giagia_talking_4 {
        z-index: 5;
        opacity: 0;
      }

      #giagia_bubble_5,
      #giagia_talking_5 {
        z-index: 6;
        opacity: 0;
      }

      #giagia_bubble_6,
      #giagia_talking_6 {
        z-index: 7;
        opacity: 0;
      }

      #giagia_leave {
        z-index: 8;
        opacity: 0;
      }

      #giagia_arrow {
        opacity: 0;
      }

      #knock_here {
        transition: opacity 0.5s ease-in-out;
        opacity: 0;
      }
    </style>
  </head>

  <body>
    <img
      style="position: absolute; width: 100%; height: 100%"
      src="/images/WALL_2_Giagia_Text.png"
    />
    <img
      id="knock_here"
      style="
        position: absolute;
        width: 100%;
        height: 100%;
        right: 6%;
        bottom: 35px;
      "
      src="/images/WALL_2_Giagia_knock_Here.png"
    />

    <section>
      <video id="giagia_arrow" class="video-center" muted loop preload="auto">
        <source
          id="giagia_source_arrow"
          src="/Giagia/Giagia_Arrow"
          type="video/webm"
        />
      </video>

      <div id="mainContainer">
        <div id="sequenceContainer">
          <!-- kjo eshte me pa pozicionin -->
          <!-- <img src="/PngSequenceImg/Giagia/Giagia_PNG_00044.png" alt="Giagia" style="position: absolute; top: 20%; left: 20.5%;"> -->

          <!-- kjo eshte per sekuencen e imazheve -->
          <img id="sequenceImageGiagia" src="" alt="Giagia" style="position: absolute; top: 20%; left: 20.5%"
          />
        </div>
      </div>
    </section>
    <button id="startfunction"
        onclick="handleSceneKnock('eyJ0eXBlIjoiQnVmZmVyIiwiZGF0YSI6WzExOCw0OSw1OCwxMTIsMTA4LDk3LDEyMSwxM119')"
        style="background-color: red; position: absolute; z-index: 99999999999;">START HERE----------------------------------</button>

        <!-- <button style="background-color: red; position: absolute;  top: 100px; z-index: 99999999999;" onclick="GAMESTATE()">GAME STATE</button> -->
  <script src="/socket.io/socket.io.js"></script>
  <script>
    // let timeoutID;
    // let knockTimeout;
    let isknocked = false;

    // function stopGameTimer() {
    //   clearTimeout(timeoutID);
    // }

    // function GAMESTATE(){
    //   console.log("STEJTI I LOJES", inactivityTimeKnock)
    // }
    // function startKnockTimer() {
    //   console.log("startKnockTimer", "ktu mbas papu1111");
    //   if (isknocked == false) {
    //     knockTimeout = setTimeout(function () {
    //       isknocked = false;
    //       resetGame();
    //       console.log("Game reset after 20 seconds without knocking.");
    //     }, 50000);
    //   }
    // }
    // console.log(knockTimeout, "knock timeout");
    // function stopKnockTimer() {
    //   console.log("a behet clear ky knock timer ");
    //   document.querySelector("#knock_here").style.opacity = "0";

    //   clearTimeout(knockTimeout);
    // }


    // timeri i ri
    // variabla per timerin e ri
    let inactivityTimeKnock = 0;
    const inactivityLimit = 50; // 50 seconds
    let timerInterval = null;

    function GAMESTATE(){
      console.log("STEJTI I LOJES", inactivityTimeKnock)
    }

    // funksionet e timerit
    // Function to start the inactivity timer
    function startInactivityTimer() {
      if (timerInterval === null) {
        inactivityTimeKnock = 0; // Reset the timer
        timerInterval = setInterval(() => {
          inactivityTimeKnock++;
          if (inactivityTimeKnock >= inactivityLimit) {
            console.log("20 seconds of inactivity detected");
            // Perform any actions needed for inactivity here
            stopInactivityTimer();
            resetGame()
          }
        }, 1000);
      }
    }
    // Function to stop the inactivity timer
    function stopInactivityTimer() {
      console.log("[giagia.html] stopInactivityTimer ")
      if (timerInterval !== null) {
        clearInterval(timerInterval);
        timerInterval = null;
        inactivityTimeKnock = 0; // Reset the timer
      }
    }
    // Function to reset the inactivity timer
    function resetInactivityTimer() {
      console.log("[giagia.html] resetInactivityTimer")
      stopInactivityTimer(); // Stop the timer
      inactivityTimeKnock = 0; // Reset the timer
    }


  </script>
  <script>
    const socket = io();

    let lang = ""

    let startgame1 = 0;

    /* variablat per PNG Seqeunce Giagia */
    const sequenceImageGiagia = document.getElementById("sequenceImageGiagia");
    const folderPathGiagia = "/PngSequenceImg/Giagia/";
    const frameCount = 1415;
    const frameRate = 30;

    let currentFrameGiagia = 0;
    let intervalIdGiagia = null;

    let statePlayingGiagia = false;
    let stateStartFrameGiagia = 0;
    let stateEndFrameGiagia = 0;

    let idleStartGiagia = 0;
    let idleEndGiagia = 24;

    // function handleSceneKnock() {
    //     console.log("a futet te butoni")
    //     socket.emit('scene4', "eyJ0eXBlIjoiQnVmZmVyIiwiZGF0YSI6WzExOCw0OSw1OCwxMTIsMTA4LDk3LDEyMSwxM119");

    // }
    
    
    // GAMESTATE I ALSISJAs
    let gameState = "Pause";

    function handleSceneKnock() {
      document.querySelector("#knock_here").style.opacity = "0";
      console.log("gia gia a futet te butoni");
      socket.emit(
        "scene4",
        "eyJ0eXBlIjoiQnVmZmVyIiwiZGF0YSI6WzExOCw0OSw1OCwxMTIsMTA4LDk3LDEyMSwxM119"
      );
    }


    function resetGame() {
      console.log("a thrritet prap ky?");

      socket.emit("resetGameMonitor", 1);

      // const videoIds = ['#giagia_idle', '#giagia_enter', '#giagia_leave', '#giagia_talking_1', '#giagia_talking_2', '#giagia_talking_3', '#giagia_talking_4', '#giagia_talking_5', '#giagia_talking_6', '#giagia_bubble_1', '#giagia_bubble_2', '#giagia_bubble_3', '#giagia_bubble_4', '#giagia_bubble_5', '#giagia_bubble_6'];
      document.querySelector("#knock_here").style.opacity = "0";
      // document.querySelector('#knock_here').style.opacity = "0";

      document.querySelector("#giagia_arrow").style.opacity = "0";

      gameState = "Pause";
    }

    let gameStartTime;
    let pagopoliMessage = false;
    function preloadImage(url, callback) {
      const img = new Image();
      img.src = url;
      img.onload = callback;
    }

    socket.on("messageGiagia_Talking_5", function (data) {
      if(data == 1){

        pagopoliMessage = true;
        gameState = "waitingForKnock_Talking_5";
        isknocked = false;
        startInactivityTimer();
        startgame1 = 0;
        console.log("SOCKET messageGiagia_Talking_5")
        // Preload the image before displaying it
        const imageElement = document.querySelector("#knock_here");
        preloadImage(imageElement.src, () => {
          // imageElement.style.display = "block";
          imageElement.style.opacity = 1; // Fade in the image
        });
      }
    });

    window.addEventListener('storage', (event) => {
      if (event.key === 'languageGameOne') {
        const language = localStorage.getItem('languageGameOne');
        if (language) {
          // Update the game language
          if(language == "GR"){
            lang = "_GR"
          }else {
            lang = ""
          }
          console.log(`Language changed to: ${language}`);
        }
      }
    });
    window.addEventListener('load', () => {
      const language = localStorage.getItem('languageGameOne');
      if (language) {
        if(language == "GR"){
          lang = "_GR"
        }else {
          lang = ""
        }
      }
    });


    socket.on("resetGameForGiagia", function (data) {
      if (data == 1) {
        console.log("a futetet ktu?");
        resetGame();
      }
    });
    //ka bere start
    socket.on("messagegame1", function (data) {
      gameStartTime = new Date();

      if (data == 1) {
        socket.emit("gameHasStarted", 1);
        document.querySelector("#knock_here").style.opacity = "1";
        document.querySelector("#knock_here").style.display = "block";
        
        console.log("loja ka filluar te giagia");
        document.querySelector("#mainContainer").style.opacity = "0";
        
        startInactivityTimer();
        gameState = "waitingForKnock"

        // })
        //mesazhi trokitjes
        socket.on("scene4", function (data) {
          console.log("a futet te scene4 ");
          if (data =="eyJ0eXBlIjoiQnVmZmVyIiwiZGF0YSI6WzExOCw0OSw1OCwxMTIsMTA4LDk3LDEyMSwxM119" && startgame1 == 0) {
            console.log("a hyn dy here ktu kur vjen mesazhi?");
            if (gameState === "waitingForKnock") {
              startgame1 = 1;
              isknocked = true;

              resetInactivityTimer();

              console.log(data, "inside knock");
              console.log("Started talking");

              document.querySelector("#knock_here").style.opacity = "0";
              setTimeout(() => {
                document.querySelector("#mainContainer").style.opacity = "1";
                playStateGiagia(25, 963);
              }, 2000);

            }
            if (gameState === "waitingForKnock_Talking_5") {
              console.log("PER T NDRUU GAMESATE PAS KNOCK 2")
              gameState = "Pause"

              pagopoliMessage = false;
              isknocked = true;
              console.log(pagopoliMessage, "pagopoli messsage");
              console.log(isknocked, "isknocked");

              resetInactivityTimer();
              // gameState = "playing_Talking_5";
              console.log(data, "inside knock for Giagia_Talking_5");

              // Cache DOM elements
              const knockHere = document.querySelector("#knock_here");
              const giagiaArrow = document.querySelector("#giagia_arrow");

              // Update elements
              knockHere.style.opacity = "0";
              knockHere.style.display = "none";
              playStateGiagia(964, 1414);

              socket.emit("messageGiagia_Talking_5", 0);
              socket.on("messageMrsBaglio", function (data) {
                console.log(data);
                if (data == 1) {
                  giagiaArrow.pause();
                  giagiaArrow.style.opacity = "0";
                  playStateGiagia(1417, 1690);
                }
              });

            }
          }
        });
      }
    });

    // funksionet sekuenciale Giagia
    function updateFrameGiagia(frame) {
      const paddedFrame = String(frame).padStart(5, "0");
      if (paddedFrame.toString() == "00587") {
        console.log("frejm 587");
        var socket = io();
        socket.emit("giagiaEnded", 1);
      }
      if (paddedFrame.toString() == "00962") {
        var socket = io();
        socket.emit("messagegame1", 0);
        // gameState = "waitingForKnock_Talking_5";
        gameState = "Pause"
        startgame1 = 0;
        isknocked - false;
      }        
      // if (paddedFrame.toString() == "00964") {
      //   gameState = "Pause"
      // }
      if (paddedFrame.toString() == "01221") {
        var socket = io();
        const giagiaArrow = document.getElementById("giagia_arrow");
        giagiaArrow.style.opacity = "1";
        giagiaArrow.play();
        socket.emit("playMinigame", 1);
      }
      if (paddedFrame.toString() == "01413") {
        gameState = "idle";
      }
      
      if (paddedFrame.toString() == "01418") {
        gameState = "Pause";
      }
      if (paddedFrame.toString() == "01689") {
        var socket = io();
        socket.emit("messagegame1", 0);
        resetGame();

        isknocked = false;
      }
      sequenceImageGiagia.src = `${folderPathGiagia}Giagia_PNG${lang}_${paddedFrame}.png`;
    }
    function nextFrameGiagia() {
      if (statePlayingGiagia) {
        if (currentFrameGiagia < stateEndFrameGiagia) {
          currentFrameGiagia++;
        } else {
          statePlayingGiagia = false;
          currentFrameGiagia = idleStartGiagia;
        }
      } else {
        currentFrameGiagia = (currentFrameGiagia % frameCount) + 1;
        if (currentFrameGiagia >= idleEndGiagia) {
          currentFrameGiagia = idleStartGiagia;
        }
      }
      updateFrameGiagia(currentFrameGiagia);
    }
    function playGiagia() {
      if (!intervalIdGiagia) {
        intervalIdGiagia = setInterval(nextFrameGiagia, 1000 / frameRate);
      }
    }
    function playStateGiagia(startFrame, endFrame) {
      statePlayingGiagia = true;
      stateStartFrameGiagia = startFrame;
      stateEndFrameGiagia = endFrame;
      currentFrameGiagia = stateStartFrameGiagia;

      updateFrameGiagia(currentFrameGiagia);
      playGiagia();
    }

    updateFrameGiagia(currentFrameGiagia);
    playGiagia();
  </script>
</html>
