<!DOCTYPE html>
<html lang="en">

<head>
    <title>Giagia</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <style>
        * {
            box-sizing: border-box;
        }

        html {
            height: 100%;
        }

        .giagiaBubble {
            margin-left: 80px !important;
        }

        body {
            background-image: url('/images/WALL_Giagia.png');
            background-position: left 7px center;

            background-repeat: no-repeat;
            background-size: 100% 100%;
            /* background-color: #000000; */
            overflow: hidden;
        }

        video,
        .video-center {
            position: absolute;
            height: 100%;
            width: 100%;
            left: -65px;
            right: 0;
            bottom: 0;
            overflow: hidden;
            background-color: transparent;

        }

        /* Container for flexboxes */
        section {
            display: -webkit-flex;
            display: flex;
        }

        #giagia_idle,
        #giagia_enter {
            opacity: 1;
        }

        #giagia_bubble_1,
        #giagia_talking_1 {
            z-index: 2;
            opacity: 0;
        }

        #giagia_bubble_2,
        #giagia_talking_2 {
            z-index: 3;
            opacity: 0;
        }

        #giagia_bubble_3,
        #giagia_talking_3 {
            z-index: 4;
            opacity: 0;
        }

        #giagia_bubble_4,
        #giagia_talking_4 {
            z-index: 5;
            opacity: 0;
        }

        #giagia_bubble_5,
        #giagia_talking_5 {
            z-index: 6;
            opacity: 0;
        }

        #giagia_bubble_6,
        #giagia_talking_6 {
            z-index: 7;
            opacity: 0;
        }



        #giagia_leave {
            z-index: 8;
            opacity: 0;
        }

        #giagia_arrow {
            opacity: 0;
        }

        #knock_here {
            transition: opacity 0.5s ease-in-out;
            opacity: 0;
        }
    </style>
</head>

<body>
    <img style="position: absolute; width: 100%; height: 100%;" src="/images/WALL_2_Giagia_Text.png" />
    <img id="knock_here" style="position: absolute; width: 100%; height: 100%; right: 6%; bottom: 35px;"
        src="/images/WALL_2_Giagia_knock_Here.png" />


    <section>


        <video id="giagia_idle" class="video-center" autoplay loop muted preload="auto">
            <source id="giagia_idle_source" src="/Giagia/Giagia_Idle" type="video/webm">
        </video>

        <video id="giagia_enter" class="video-center" muted preload="auto">
            <source id="giagia_enter_source" src="/Giagia/Giagia_Enter" type="video/webm">
        </video>

        <video id="giagia_leave" class="video-center" muted preload="auto">
            <source id="giagia_leave_source" src="/Giagia/Giagia_Leave" type="video/webm">
        </video>


        <video id="giagia_talking_1" class="video-center" muted preload="auto">
            <source id="giagia_source_talking_1" src="/Giagia/Giagia_Talking_1" type="video/webm">
        </video>
        <video id="giagia_talking_2" class="video-center" muted preload="auto">
            <source id="giagia_source_talking_2" src="/Giagia/Giagia_Talking_2" type="video/webm">
        </video>
        <video id="giagia_talking_3" class="video-center" muted preload="auto">
            <source id="giagia_source_talking_3" src="/Giagia/Giagia_Talking_3" type="video/webm">
        </video>
        <video id="giagia_talking_4" class="video-center" muted preload="auto">
            <source id="giagia_source_talking_4" src="/Giagia/Giagia_Talking_4" type="video/webm">
        </video>
        <video id="giagia_arrow" class="video-center" muted loop preload="auto">
            <source id="giagia_source_arrow" src="/Giagia/Giagia_Arrow" type="video/webm">
        </video>
        <video id="giagia_talking_5" class="video-center" muted preload="auto">
            <source id="giagia_source_talking_5" src="/Giagia/Giagia_Talking_5" type="video/webm">
        </video>
        <video id="giagia_talking_6" class="video-center" muted preload="auto">
            <source id="giagia_source_talking_6" src="/Giagia/Giagia_Talking_6" type="video/webm">
        </video>


        <video id="giagia_bubble_1" class="video-center giagiaBubble" muted preload="auto">
            <source id="giagia_bubble_source_1" src="/GiagiaBubbles/Giagia_Bubble_1_gr" type="video/webm">
        </video>
        <video id="giagia_bubble_2" class="video-center giagiaBubble" muted preload="auto">
            <source id="giagia_bubble_source_2" src="/GiagiaBubbles/Giagia_Bubble_2_gr" type="video/webm">
        </video>
        <video id="giagia_bubble_3" class="video-center giagiaBubble" muted preload="auto">
            <source id="giagia_bubble_source_3" src="/GiagiaBubbles/Giagia_Bubble_3_gr" type="video/webm">
        </video>
        <video id="giagia_bubble_4" class="video-center giagiaBubble" muted preload="auto">
            <source id="giagia_bubble_source_4" src="/GiagiaBubbles/Giagia_Bubble_4_gr" type="video/webm">
        </video>
        <video id="giagia_bubble_5" class="video-center giagiaBubble" muted preload="auto">
            <source id="giagia_bubble_source_5" src="/GiagiaBubbles/Giagia_Bubble_5_gr" type="video/webm">
        </video>
        <video id="giagia_bubble_6" class="video-center giagiaBubble" muted preload="auto">
            <source id="giagia_bubble_source_6" src="/GiagiaBubbles/Giagia_Bubble_6_gr" type="video/webm">
        </video>



    </section>
    <!-- <button id="startfunction"
        onclick="handleScene4('eyJ0eXBlIjoiQnVmZmVyIiwiZGF0YSI6WzExOCw0OSw1OCwxMTIsMTA4LDk3LDEyMSwxM119')"
        style="background-color: red; position: absolute; z-index: 99999999999;">START HERE----------------------------------</button> -->
    <button style="background-color: red; position: absolute; z-index: 99999999999; height: 80px" id="handleScene4Button"
        onclick="handleSceneKnock()" height="150px" >Handle Scene
        4111111111111111111111111111111111111111111</button>

</body>

<script src="/socket.io/socket.io.js"></script>
<script>
    let timeoutID;
    let knockTimeout;
    let isknocked = false


    function stopGameTimer() {
        clearTimeout(timeoutID);
    }

    function startKnockTimer() {
        console.log("startKnockTimer", "ktu mbas papu1111")
        if (isknocked == false) {
            knockTimeout = setTimeout(function () {
                isknocked = false
                resetGame();
                console.log('Game reset after 50 seconds without knocking.');
            }, 50000);

        }
    }
    console.log(knockTimeout, "knock timeout")
    function stopKnockTimer() {
        console.log("a behet clear ky knock timer ")
        document.querySelector('#knock_here').style.opacity = "0";

        clearTimeout(knockTimeout);
    }







</script>
<script>
    const socket = io();
    let startgame1 = 0;

    // function handleSceneKnock() {
    //     console.log("a futet te butoni")
    //     socket.emit('scene4', "eyJ0eXBlIjoiQnVmZmVyIiwiZGF0YSI6WzExOCw0OSw1OCwxMTIsMTA4LDk3LDEyMSwxM119");

    // }
    let gameState = 'waitingForKnock';

    function handleSceneKnock() {
      document.querySelector("#knock_here").style.opacity = "0";
      console.log("a futet te butoni");
      socket.emit(
        "scene4",
        "eyJ0eXBlIjoiQnVmZmVyIiwiZGF0YSI6WzExOCw0OSw1OCwxMTIsMTA4LDk3LDEyMSwxM119"
      );
    }

    function handleVideoPlayGiagia(videoElement) {
        var playPromise = videoElement.play();

        if (playPromise !== undefined) {
            playPromise.then(_ => {
                videoElement.style.display = "block";
                videoElement.style.opacity = "1";
            }).catch(error => {
                console.log('Autoplay was prevented:', error);
                // Optionally, you could prompt the user to click a button to play the video
            });
        }
    }
    function resetGame() {
        console.log("a thrritet prap ky?");

        socket.emit("resetGameMonitor", 1)

        const videoIds = ['#giagia_idle', '#giagia_enter', '#giagia_leave', '#giagia_talking_1', '#giagia_talking_2', '#giagia_talking_3', '#giagia_talking_4', '#giagia_talking_5', '#giagia_talking_6', '#giagia_bubble_1', '#giagia_bubble_2', '#giagia_bubble_3', '#giagia_bubble_4', '#giagia_bubble_5', '#giagia_bubble_6'];
        document.querySelector('#knock_here').style.opacity = "0";
        // document.querySelector('#knock_here').style.opacity = "0";

        document.querySelector('#giagia_arrow').style.opacity = "0";

        // Stop all videos and reset opacity for all elements
        videoIds.forEach(id => {
            const element = document.querySelector(id);
            console.log(element)
            element.pause();
            element.style.opacity = "0";
            if (id === '#giagia_idle') {

                document.querySelector('#giagia_idle').load();
                document.querySelector('#giagia_idle').play();
                document.querySelector('#giagia_idle').style.display = "block";
                document.querySelector('#giagia_idle').style.opacity = "1";


            }
        });
        gameState = 'waitingForKnock';

    }

    document.querySelector('#giagia_idle').load();
    document.querySelector('#giagia_idle').play();
    let gameStartTime;
    let pagopoliMessage = false
    function preloadImage(url, callback) {
        const img = new Image();
        img.src = url;
        img.onload = callback;
    }

    socket.on("messageGiagia_Talking_5", function (data) {
        pagopoliMessage = true;
        gameState = 'waitingForKnock_Talking_5';
        isknocked = false;
        startKnockTimer();
        startgame1 = 0;

        // Preload the image before displaying it
        const imageElement = document.querySelector('#knock_here');
        preloadImage(imageElement.src, () => {
            // imageElement.style.display = "block";
            imageElement.style.opacity = 1;  // Fade in the image
        });
    });


    socket.on("resetGameForGiagia", function (data) {
        if (data == 1) {
            console.log("a futetet ktu?")
            resetGame()
        }
    })
    //ka bere start 
    socket.on('messagegame1', function (data) {
        gameStartTime = new Date();
        if (data == 1) {

            socket.emit('gameHasStarted', 1);
            document.querySelector('#knock_here').style.opacity = "1"

            console.log('loja ka filluar te giagia')
            document.querySelector('#giagia_idle').style.opacity = "0";

            // document.querySelector('#giagia_talking_1').style.opacity = "1";
            // document.querySelector('#giagia_talking_1').play();
            // document.querySelector('#giagia_bubble_1').style.opacity = "1";
            // document.querySelector('#giagia_bubble_1').play();
            // document.querySelector('#giagia_talking_1').addEventListener('ended', function (evt) {
            //     document.querySelector('#giagia_talking_1').style.opacity = "0";
            //     document.querySelector('#giagia_bubble_1').style.opacity = "0";
            startKnockTimer();

            // })
            //mesazhi trokitjes
            socket.on('scene4', function (data) {
                console.log("a futet te scene4 ")
                if (data == 'eyJ0eXBlIjoiQnVmZmVyIiwiZGF0YSI6WzExOCw0OSw1OCwxMTIsMTA4LDk3LDEyMSwxM119' && startgame1 == 0) {
                    console.log("a hyn dy here ktu kur vjen mesazhi?")
                    if (gameState === 'waitingForKnock') {
                        startgame1 = 1;
                        isknocked = true

                        stopKnockTimer();

                        console.log(data, 'inside knock');
                        console.log('Started talking');

                        document.querySelector('#knock_here').style.opacity = "0";
                        // document.querySelector('#giagia_talking_1').style.opacity = "0";
                        // document.querySelector('#giagia_bubble_1').style.opacity = "0";

                        setTimeout(() => {
                            handleVideoPlayGiagia(document.querySelector('#giagia_enter'))

                            // document.querySelector('#giagia_enter').style.opacity = "1";
                            // document.querySelector('#giagia_enter').play();
                            document.querySelector('#giagia_idle').style.opacity = "0";
                        }, 2000);

                        document.querySelector('#giagia_enter').addEventListener('ended', function (evt) {
                            document.querySelector('#giagia_enter').style.opacity = "0";
                            // document.querySelector('#giagia_talking_2').style.opacity = "1";
                            // document.querySelector('#giagia_talking_2').play();
                            // document.querySelector('#giagia_bubble_2').style.opacity = "1";
                            // document.querySelector('#giagia_bubble_2').play();
                            handleVideoPlayGiagia(document.querySelector('#giagia_talking_2'))
                            handleVideoPlayGiagia(document.querySelector('#giagia_bubble_2'))


                        });

                        document.querySelector('#giagia_talking_2').addEventListener('ended', function (evt) {
                            document.querySelector('#giagia_talking_2').style.opacity = "0";
                            document.querySelector('#giagia_bubble_2').style.opacity = "0";
                            // document.querySelector('#giagia_talking_3').style.opacity = "1";
                            // document.querySelector('#giagia_talking_3').play();
                            // document.querySelector('#giagia_bubble_3').style.opacity = "1";
                            // document.querySelector('#giagia_bubble_3').play();
                            handleVideoPlayGiagia(document.querySelector('#giagia_talking_3'))
                            handleVideoPlayGiagia(document.querySelector('#giagia_bubble_3'))

                            socket.emit('giagiaEnded', 1);
                            console.log('socket at Giagia');
                        });

                        document.querySelector('#giagia_talking_3').addEventListener('ended', function (evt) {
                            document.querySelector('#giagia_talking_3').style.opacity = "0";
                            document.querySelector('#giagia_bubble_3').style.opacity = "0";
                            document.querySelector('#giagia_idle').style.zIndex = "1";
                            // document.querySelector('#giagia_idle').style.opacity = "1";
                            // document.querySelector('#giagia_idle').play();
                            handleVideoPlayGiagia(document.querySelector('#giagia_idle'))

                            socket.emit('messagegame1', 0);
                            gameState = 'waitingForKnock_Talking_5';
                            startgame1 = 0;

                            isknocked - false
                        });
                    }

                    if (gameState === 'waitingForKnock_Talking_5') {
                        pagopoliMessage = false;
                        isknocked = true;
                        console.log(pagopoliMessage, "pagopoli messsage")
                        console.log(isknocked, "isknocked")


                        stopKnockTimer();
                        gameState = 'playing_Talking_5';
                        console.log(data, 'inside knock for Giagia_Talking_5');

                        // Cache DOM elements
                        const knockHere = document.querySelector('#knock_here');
                        const giagiaIdle = document.querySelector('#giagia_idle');
                        const giagiaTalking4 = document.querySelector('#giagia_talking_4');
                        const giagiaBubble4 = document.querySelector('#giagia_bubble_4');
                        const giagiaTalking5 = document.querySelector('#giagia_talking_5');
                        const giagiaBubble5 = document.querySelector('#giagia_bubble_5');
                        const giagiaArrow = document.querySelector('#giagia_arrow');
                        const giagiaTalking6 = document.querySelector('#giagia_talking_6');
                        const giagiaBubble6 = document.querySelector('#giagia_bubble_6');

                        // Update elements
                        knockHere.style.opacity = "0";
                        knockHere.style.opacity = "0";
                        giagiaIdle.style.opacity = "0";
                        // giagiaTalking4.style.opacity = "1";
                        // giagiaTalking4.play();
                        // giagiaBubble4.style.opacity = "1";
                        // giagiaBubble4.play();
                        handleVideoPlayGiagia(document.querySelector('#giagia_talking_4'))
                        handleVideoPlayGiagia(document.querySelector('#giagia_bubble_4'))


                        giagiaTalking4.addEventListener('ended', function (evt) {
                            giagiaBubble4.style.opacity = "0";
                            giagiaTalking4.style.opacity = "0";

                            // giagiaTalking5.style.opacity = "1";
                            // giagiaTalking5.play();
                            // giagiaBubble5.style.opacity = "1";
                            // giagiaBubble5.play();
                            // giagiaArrow.style.opacity = "1";
                            // giagiaArrow.play();
                            handleVideoPlayGiagia(document.querySelector('#giagia_talking_5'))
                            handleVideoPlayGiagia(document.querySelector('#giagia_bubble_5'))
                            handleVideoPlayGiagia(document.querySelector('#giagia_arrow'))

                            socket.emit('playMinigame', 1);
                        });

                        giagiaTalking5.addEventListener('ended', function (evt) {
                            giagiaTalking5.style.opacity = "0";
                            giagiaBubble5.style.opacity = "0";
                            giagiaIdle.style.opacity = "1";
                            gameState = 'idle';
                        });

                        socket.emit('messageGiagia_Talking_5', 0);
                        function pauseVideosAndBubblesGiagia() {
                            giagiaIdle.pause();
                            giagiaTalking5.pause();
                            giagiaBubble5.pause();
                            giagiaArrow.pause();
                            giagiaIdle.style.opacity = "0";
                            giagiaTalking5.style.opacity = "0";
                            giagiaBubble5.style.opacity = "0";
                            giagiaArrow.style.opacity = "0";
                        }
                        socket.on('messageMrsBaglio', function (data) {
                            console.log(data);
                            if (data == 1) {
                                giagiaIdle.style.opacity = "0";
                                giagiaTalking5.style.opacity = "0";
                                giagiaBubble5.style.opacity = "0";
                                giagiaArrow.style.opacity = "0";
                                pauseVideosAndBubblesGiagia()
                                // giagiaTalking6.style.opacity = "1";
                                // giagiaTalking6.play();
                                // giagiaBubble6.style.opacity = "1";
                                // giagiaBubble6.play();
                                handleVideoPlayGiagia(document.querySelector('#giagia_talking_6'))
                                handleVideoPlayGiagia(document.querySelector('#giagia_bubble_6'))

                            }
                        });

                        giagiaTalking6.addEventListener('ended', function (evt) {
                            giagiaTalking6.style.opacity = "0";
                            giagiaBubble6.style.opacity = "0";
                            giagiaIdle.style.opacity = "1";
                            socket.emit('messagegame1', 0);
                            isknocked = false;
                        });
                    }

                }
            });

        }
    });
</script>


</html>