<!DOCTYPE html>
<html lang="en">
<head>
    <title>Efterpi</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <style>
        body{
            padding: 0;
            margin: 0;
            overflow: hidden;
        }
        .container{
            height: 100vh;
            width: 100%;
            padding: 0;
            margin: 0;
        }
        video{
            margin: 0 auto;
            height: 100%;
        }

        video.bubble{
            width: 100%;
        }

        .video-center{
            position: absolute;
            left: 0;
            right: 0;
            bottom: 0;
            top: 0;
            opacity: 0;
        }
        .efterpi_background_empty{
            position: absolute;
            left: 0;
            right: 0;
            bottom: 0;
            top: 0;
            opacity: 0;
        }
        .container.turn-on video.talking{
            border: 8px solid green;
        }

    </style>
</head>
<body>
    <div class="container">
        <div id="efterpi_background_empty" class="efterpi_background_empty" style="background-image: url('/Efterpi/Efterpi_empty_window.png');">
            <!-- Your content here -->
        </div>
        <video id="efterpi_enter" class="video-center" muted preload="auto">
            <source id="efterpi_enter_source" src="/Efterpi/Efterpi_Enter.mp4" type="video/mp4">
        </video>

        <video id="efterpi_leave" class="video-center" muted preload="auto">
            <source id="efterpi_leave_source" src="/Efterpi/Efterpi_Leave.mp4" type="video/mp4">
        </video>

        <video id="efterpi_ilde" class="video-center" autoplay loop muted preload="auto">
            <source id="efterpi_ilde_source" src="/Efterpi/Efterpi_Talking_Idle.mp4" type="video/mp4">
        </video>

        <video id="efterpi_talking_1" class="video-center talking" muted preload="auto">
            <source id="efterpi_talking_source_1" src="/Efterpi/Efterpi_Talking_1.mp4" type="video/mp4">
        </video>
        <video id="efterpi_talking_2" class="video-center talking" muted preload="auto">
            <source id="efterpi_talking_source_2" src="/Efterpi/Efterpi_Talking_2.mp4" type="video/mp4">
        </video>
        <video id="efterpi_talking_3" class="video-center talking" muted preload="auto">
            <source id="efterpi_talking_source_3" src="/Efterpi/Efterpi_Talking_3.mp4" type="video/mp4">
        </video>
        

        <video id="efterpi_counting" class="video-center" muted preload="auto">
            <source id="efterpi_counting_source" src="/Efterpi/Efterpi_Counting_10seconds.mp4" type="video/mp4">
        </video>
        <video id="efterpi_counting_layout" class="video-center" muted preload="auto">
            <source id="efterpi_counting_layout_source" src="/Efterpi/Efterpi_Countdown.webm" type="video/webm">
        </video>

  <!-- <button onclick="startGame()"  style=" position: absolute; left: 0; z-index: 9999999999999999999999999;">Start Game</button> -->
      
    </div>
    <script src = "/socket.io/socket.io.js"></script>
    <script type="text/javascript">
function resetGame() {
    const videoElements = ['#efterpi_enter', '#efterpi_talking_1', '#efterpi_talking_2', '#efterpi_talking_3', '#efterpi_leave'];
    videoElements.forEach(element => {
        const video = document.querySelector(element);
        video.currentTime = 0;
        video.style.opacity = "0";
    });

    document.querySelector('#efterpi_background_empty').style.opacity = "1";

    document.querySelector('.container').classList.remove("turn-on");

}
var socket = io();

socket.on("resetGameElenitsa", function (data){
            if (data ==1){
                resetGame() 
            }
        })


        document.querySelector('#efterpi_ilde').style.opacity = "1";
        document.querySelector('#efterpi_ilde').load();
        document.querySelector('#efterpi_ilde').play();
        socket.on('messageEfterpiStep', function(data) {
            if (data == 1){
                document.querySelector('#efterpi_background_empty').style.opacity="1"
            }
        })
        function startGame() {
            console.log('nisi efterpi')
            document.querySelector('#efterpi_background_empty').style.opacity="0"

            document.querySelector('#efterpi_enter').load();
            document.querySelector('#efterpi_enter').play();

            document.querySelector('#efterpi_ilde').style.opacity = "0";
            document.querySelector('#efterpi_enter').style.opacity = "1";

            document.querySelector('.container').classList.add("turn-on");

            document.querySelector('#efterpi_enter').addEventListener('ended', function( evt ) {
                document.querySelector('#efterpi_enter').style.opacity = "0";

                document.querySelector('#efterpi_talking_1').style.opacity = "1";
                document.querySelector('#efterpi_talking_1').play();

                socket.emit('messageEfterpiBubble', 1);

            });
            document.querySelector('#efterpi_talking_1').addEventListener('ended', function( evt ) {
                document.querySelector('#efterpi_talking_1').style.opacity = "0";

                document.querySelector('#efterpi_counting').style.opacity = "1";
                document.querySelector('#efterpi_counting').play();
                document.querySelector('#efterpi_counting_layout').style.opacity = "1";
                document.querySelector('#efterpi_counting_layout').play();

                document.querySelector('#efterpi_talking_2').load();
            });
            document.querySelector('#efterpi_counting').addEventListener('ended', function( evt ) {
                document.querySelector('#efterpi_counting').style.opacity = "0";
                document.querySelector('#efterpi_counting').style.opacity = "0";
                
                document.querySelector('#efterpi_talking_2').style.opacity = "1";
                document.querySelector('#efterpi_talking_2').play();

                socket.emit('messageEfterpiBubble', 2);

                document.querySelector('#efterpi_talking_3').load();

            });

            document.querySelector('#efterpi_talking_2').addEventListener('ended', function( evt ) {
                document.querySelector('#efterpi_talking_2').style.opacity = "0";
                
                document.querySelector('#efterpi_talking_3').style.opacity = "1";
                document.querySelector('#efterpi_talking_3').play();

                socket.emit('messageEfterpiBubble', 3);
                document.querySelector('#efterpi_leave').load();


            });

            document.querySelector('#efterpi_talking_3').addEventListener('ended', function( evt ) {
                document.querySelector('#efterpi_talking_3').style.opacity = "0";
                
                document.querySelector('#efterpi_leave').style.opacity = "1";
                document.querySelector('#efterpi_leave').play();

                document.querySelector('.container').classList.remove("turn-on");
                
                console.log('game 2 end ....');
                socket.emit('resetGameMonitor', 2);

            });
            document.querySelector('#efterpi_leave').addEventListener('ended', function( evt ) {
                document.querySelector('#efterpi_background_empty').style.opacity="1"
            });
        }

        // START GAME 
        socket.on('messageEfterpiStep', function(data) {
            console.log('messageEfterpiStep: ' + data);
            if(data == 1){
                setTimeout(function(){ 
                    startGame();
                }, 1000);
            }

        });

    </script>
</body>
</html>